[submodule "src/confd/src/github.com/kelseyhightower/confd"]
	path = src/confd/src/github.com/kelseyhightower/confd
	url = https://github.com/kelseyhightower/confd
[submodule "src/confd/src/github.com/BurntSushi/toml"]
	path = src/confd/src/github.com/BurntSushi/toml
	url = https://github.com/BurntSushi/toml
[submodule "src/confd/src/github.com/armon/consul-kv"]
	path = src/confd/src/github.com/armon/consul-kv
	url = https://github.com/armon/consul-kv
[submodule "src/confd/src/github.com/coreos/go-etcd"]
	path = src/confd/src/github.com/coreos/go-etcd
	url = https://github.com/coreos/go-etcd
